<div id="content_Files" display="none" class="content">
  <%- include('toolbar'); %>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">File/Folder</th>
        <th class="mdl-data-table__cell--non-numeric">Location</th>
        <th class="mdl-data-table__cell--non-numeric">Unlock Time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
