<div id="content_Files" display="none" class="content">
  <%- include('toolbar'); %>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">File/Folder</th>
        <th class="mdl-data-table__cell--non-numeric">Location</th>
        <th class="mdl-data-table__cell--non-numeric">Status</th>
        <th>Time</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Dota 2.exe</td>
        <td class="mdl-data-table__cell--non-numeric">C:\\Users\alse\Desktop</td>
        <td class="mdl-data-table__cell--non-numeric"><span class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Vaulted</span></td>
        <td>25</td>
        <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
  <i class="material-icons">mode_edit</i>
</button></td>
      </tr>
    </tbody>
  </table>
</div>
