<dialog class="mdl-dialog" id="dialog_add_Files">
  <h4 class="mdl-dialog__title">Add Files / Folders</h4>
  <div class="mdl-dialog__content">
    <input type="file" />
    <input type="date" />
    <input type="time" />
    <input type="time" />
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Ok</button>
    <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>

<dialog class="mdl-dialog" id="dialog_add_Schedules">
  <h4 class="mdl-dialog__title">Allow data collection?</h4>
  <div class="mdl-dialog__content">
    <p>
      Allowing us to collect data will.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Agree</button>
    <button type="button" class="mdl-button close">Disagree</button>
  </div>
</dialog>

<dialog class="mdl-dialog" id="dialog_add_Schedules">
  <h4 class="mdl-dialog__title"></h4>
  <div class="mdl-dialog__content">
    <p>
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Ok</button>
    <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>
