<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Tartarus</span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
    mdl-textfield--floating-label mdl-textfield--align-right">
    <div class="material-icons mdl-badge mdl-badge--overlap" id="force_count_badge" data-badge="0">account_box</div>
    <div class="mdl-tooltip" data-mdl-for="force_count_badge">Force open<br>count</div>
  </div>
</div>
</header>
<div class="mdl-layout__drawer"></div>
