<div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="button_add">
    <div class="material-icons">note_add</div>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="button_refresh">
    <div class="material-icons">refresh</div>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="button_force">
    <div class="material-icons">gavel</div>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="background: #F44336" id="button_delete">
    <div class="material-icons">delete</div>
  </button>
</div>
