<div>
  <!-- Colored raised button -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="button_add">
    ADD
  </button>
  <!-- Accent-colored raised button -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="button_archive">
    ARCHIVE
  </button>
  <!-- Accent-colored raised button with ripple -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="background: #F44336" id="button_stop">
    DELETE
  </button>
</div>
